<!DOCTYPE html>
<html>
  <head>
    <title>
        ProyectoIV resultados de la liga
      </title>
  </head>
  <body>
    <header>
      <h1>
        ProyectoIV resultados de la liga
      </h1>
      <ul>
        <li><a href="/">Inicio</li>
        <li><a href="/equipos">Equipos</a></li>
        <li><a href="/clasificacion">Clasificacion</a></li>
        <li><a href="/jornada">Jornada</a></li>
      </ul>
    </header>
    <ol>
    <%  html=open("https://resultados.as.com/resultados/futbol/primera/clasificacion/").read
    #uri = URI.parse("https://resultados.as.com/resultados/futbol/primera/equipos/")
   # html = open("https://resultados.as.com/resultados/futbol/primera/equipos/")
    doc=Nokogiri::HTML(html)
    cont=0
      array=Array.new(20)
      doc.search("#clasificacion-total .nombre-equipo").map do |element|
        cadena=element.inner_text
        array[cont]=cadena

        cont=cont+1
      end

    html1=open("http://www.comuniazo.com/laliga")
    doc1=Nokogiri::HTML(html1)
    cont=0
    puntos=Array.new(100)
    n=0
    k=0
    while n<puntos.length
      puntos[n]=Array.new(100)
      n+=1
    end
    n=0
    doc1.search(".acenter").map do |element|
        cadena=element.inner_text
        puntos[cont][k]=cadena
        if k==9
          cont=cont+1
          k=0
        end
        k+=1
    end


    var=0
    cadenas=Array.new(20)
    while var < 20
        cad=""
        cad+=array[var]
        j=1
        while j<9%>
          <%cad=cad+" "+puntos[var][j]%>
        <%
        j+=1
        end
        cadenas.push(cad)
        var+=1
    end
    s=20
    while s<cadenas.length%>
    <li><%=cadenas[s]%></li>
    <%s+=1
    end
    %>

    </ol>
    <footer>

    </footer>
  </body>
</html>
