<!DOCTYPE html>
<html>
  <head>
    <link rel=styleSheet href="css/styles.css" type="text/css">
    <title>
        ProyectoIV resultados de la liga
      </title>
  </head>
  <body>
    <header>
      <h1 class="titulo">
        ProyectoIV resultados de la liga
      </h1>
      <div class="menu-bar">
        <ul>
          <li><a href="/">Inicio</li>
          <li><a href="/equipos">Equipos</a></li>
          <li><a href="/clasificacion">Clasificacion</a></li>
          <li><a href="/jornada">Jornada</a></li>
        </ul>
      </div>
    </header>
    <table class='clasificacion'>
      <tr>
        <th>Puesto</th>
        <th>Equipo</th>
        <th>Puntos</th>
        <th>Partidos Jugados</th>
        <th>Partidos Ganados</th>
        <th>Partidos Empatados</th>
        <th>Partidos Perdidos</th>
        <th>Goles a favor</th>
        <th>Goles en contra</th>
        <th>Diferencia de Goles</th>
      </tr>
    <%  html=open("https://resultados.as.com/resultados/futbol/primera/clasificacion/").read
    #uri = URI.parse("https://resultados.as.com/resultados/futbol/primera/equipos/")
   # html = open("https://resultados.as.com/resultados/futbol/primera/equipos/")
    doc=Nokogiri::HTML(html)
    cont=0
      array=Array.new(20)
      doc.search("#clasificacion-total .nombre-equipo").map do |element|
        cadena=element.inner_text
        array[cont]=cadena

        cont=cont+1
      end

    html1=open("http://www.comuniazo.com/laliga")
    doc1=Nokogiri::HTML(html1)
    cont=0
    puntos=Array.new(100)
    n=0
    k=0
    while n<puntos.length
      puntos[n]=Array.new(100)
      n+=1
    end
    n=0
    doc1.search(".acenter").map do |element|
        cadena=element.inner_text
        puntos[cont][k]=cadena
        if k==9
          cont=cont+1
          k=0
        end
        k+=1
    end


    var=0
    cont=1
    cadenas=Array.new(20)
    while var < 20
        cad=""
        #cad+=array[var]
        %>
        <tr>
          <th><%=cont%></th>
          <th><%=array[var]%></th>
        <%
        j=1
        cont+=1
        while j<9%>
          <th><%=puntos[var][j]%></th>
        <%
        j+=1
      end%>
        </tr>
        <%
        #cadenas.push(cad)
        var+=1
    end

    %>
  </table>
    <footer>

    </footer>
  </body>
</html>
