<!DOCTYPE html>
<html>
	<head>
		<link rel=styleSheet href="css/styles.css" type="text/css">
		<title>
				ProyectoIV resultados de la liga
			</title>
	</head>
	<body>
		<header>
			<h1 class="titulo">
				ProyectoIV resultados de la liga
			</h1>
			<div class="menu-bar">
				<ul>
					<li><a href="/">Inicio</li>
					<li><a href="/equipos">Equipos</a></li>
					<li><a href="/clasificacion">Clasificacion</a></li>
					<li><a href="/jornada">Jornada</a></li>
				</ul>
			</div>
		</header>
		<footer>

		</footer>
	</body>
</html>
