// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: url(http://www.anawalls.com/images/sport/ball-football-grass-lawn-field-tribune.jpg);
  background-attachment: scroll;
  background-position: 50% 50% center;

}
