body{
  background-image: url("../img/fondo.jpg");
}
.menu-bar{
  color: white;
}
.menu-bar a{
  text-decoration: none;
  color: white;
}
.menu-bar ul{
  overflow: auto;
  margin-left: -10%;
  list-style-type: none;
}
.menu-bar li{
  float: left;
  margin-left: 10%;
}
.titulo{
  color: white;
}
.equipos{
  color: white;
}
.equipos li{
  font-size: 150%;
  font-family: fantasy;
}
.equipos ul{
  list-style-type: none;
}
