<!DOCTYPE html>
<html>
	<head>
		<title>
				ProyectoIV resultados de la liga
			</title>
	</head>
	<body>
		<header>
			<h1>
				ProyectoIV resultados de la liga
			</h1>
			<ul>
				<li><%= link_to 'Inicio', root_path%></li>
				<li><%= link_to 'Equipos', equipos_path%></li>
				<li><%= link_to 'Clasificacion', clasificacion_path%></li>
				<li><%= link_to 'jornada', jornada_path%></li>
			</ul>
		</header>
		<footer>
			
		</footer>
	</body>
</html>